:root{
    --mask-bg:#fff;
    --animate-dura:.5s;    
}
.mask__main{
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background:var(--mask-bg);
    animation-duration:var(--animate-dura);
}